.sub {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    height: 60px;
    margin: 0 auto 30px auto;
    padding: 20px 0;
    border-top: 1px solid #28292b;
    user-select: none;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #1011139e;
    backdrop-filter: blur(10px);

    a {
        margin-left: 25px;
        font-size: 13px;
        color: #b7bdc2;
        cursor: pointer;
        transition: all 0.4s;

        &:hover {
            color: white;
        }
    }
    
    a:first-child {
        margin-left: 0;
    }
    
    .hover {
        color: white !important;
    }
}

.body {
    display: flex;
    min-height: calc(100vh - 150px - 130px);
    padding: 15px;
    height: 100%;
    max-width: 1300px;
    margin: auto;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    h1 {
        margin-bottom: 30px;
    }

    .calculator {
        width: 400px;
        
        input {
            width: 100%;
            height: 50px;
            margin-bottom: 20px;
            background-color: transparent;
            border: 0;
            color: white;
            text-align: right;
            font-size: 25px;
            letter-spacing: 1px;
        }

        .keypad {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: minmax(60px, auto);
            gap: 10px;
            user-select: none;       
            
            #clear {
                grid-column: 1/3;
                grid-row: 1;
            }

            #result {
                grid-column: 3/5;
                grid-row: 5;
            }
        }   
    }

    .stopwatch {
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .time{
            display: flex;
            align-items: baseline;

            #ms {
                font-size: 22px;
                width: 2ch;
                margin-left: 5px;
            }
        }

        .buttons{
            display: flex;
            gap: 15px;

            button{
                padding: 10px 20px;
            }
        }
    }

    .countdown {

        h1{
            text-align: center;
        }

        .time {
            display: flex;
            justify-content: center;    
            gap: 20px;

            .caption{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;       
    
                h1{
                    width: 100%;
                    margin: 0;
                }
    
                p {
                    color: #767676;
                    margin: 0;
                }
            }
        }
    }

    .password {
        width: 400px;

        .password__area {       
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            input {
                max-width: 350px;
                width: 100%;
                height: 50px;
                margin-bottom: 20px;
                background-color: transparent;
                border: 0;
                color: white;
                font-size: 25px;
                letter-spacing: 1px;
            }

            .copy{
                width: 40px;
                border-radius: 50%;
                height: 40px;
                transition: 10s;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        span {
            color: #767676;
        }

        .settings{
            .flex__row {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                
                &:last-child{
                    margin-bottom: 30px;
                }
            }
        }
        

        .generate{
            display: flex;
            margin: auto;
            padding: 10px;
        }
    }
}