@import 'styles/variables.scss';

.sub {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	max-width: 1300px;
	min-height: 60px;
	margin: 0 auto;
	padding: 20px 0;
	border-top: 1px solid #28292b;
	user-select: none;
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: $blur;
	backdrop-filter: blur(10px);

	.sub__column {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 30px;
	}

	a {
		font-size: 13px;
		color: $text;
		cursor: pointer;
		transition: all 0.4s;

		&:hover {
			color: white;
		}
	}

	a:first-child {
		margin-left: 0;
	}

	.active__tab {
		color: white !important;
	}
}

.body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 15px;
	height: 100%;
	max-width: 1300px;
	margin: auto;
	
	.calculator {
		max-width: 360px;
		width: 100%;

		input {
			width: 100%;
			height: 50px;
			margin-bottom: 10px;
			background-color: transparent;
			border: 0;
			color: white;
			text-align: right;
			font-size: 25px;
			letter-spacing: 1px;
			user-select: none;
		}

		.keypad {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-auto-rows: minmax(60px, auto);
			gap: 8px;
			user-select: none;

			button {
				color: $text;

				&:hover {
					background-color: #1b1e22;
				}

				&:active{
					background-color: #1e2126;
				}
			}

			#operation {
				background-color: #1d1f21;
				font-size: 21px;

				&:hover {
					background-color: #212426;
				}

				&:active {
					background-color: #232628;
				}
			}

			.clear {
				grid-column: 1/3;
				grid-row: 1;
				font-size: 13px !important;
			}

			.result {
				grid-column: 3/5;
				grid-row: 5;
				font-size: 13px !important;
			}
		}
	}

	.countdown {
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		background-color: transparent;
		padding: 20px;
		max-width: 300px;
		width: 100%;

		h3 {
			border-color: $border;
			user-select: auto;
		}

		.time {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 20px;

			.caption {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				h1 {
					width: 100%;
					margin: 0;
					font-size: 28px;
					text-align: center;
				}

				p {
					color: $text;
					margin: 0;
				}
			}
		}
	}

	.stopwatch {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		padding: 20px;
		border-radius: 6px;
		max-width: 300px;
		width: 100%;

		h3 {
			border-color: $border;
		}

		.time {
			display: flex;
			align-items: baseline;

			#ms {
				font-size: 22px;
				width: 2ch;
				margin-left: 5px;
			}
		}

		.buttons {
			display: flex;
			flex-wrap: wrap;
			gap: 15px;

			button {
				padding: 10px 20px;

				&:hover {
					background-color: #1b1e22;
				}

				&:active{
					background-color: #1e2126;
				}
			}
		}
	}

	.password {
		max-width: 360px;
		width: 100%;
		margin-top: 60px;

		.password__area {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 20px;

			input {
				max-width: 360px;
				width: 100%;
				height: 40px;
				background-color: transparent;
				border: 0;
				color: white;
				font-size: 25px;
				letter-spacing: 1px;
			}

			.copy {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background-color: #17191c;
				padding: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				cursor: pointer;
				user-select: none;

				&:hover {
					background-color: #1a1d20;
				}

				&:active {
					background-color: #1d2024;
				}
			}

			.error,
			.complete {
				-webkit-tap-highlight-color: transparent;
			}

			.error:before {
				content: 'Error! Nothing to copy.';
				width: 170px;
				position: absolute;
				top: -45px;
				right: -12px;
				background-color: #17191c;
				padding: 8px 10px;
				border-radius: 20px;
				color: #bd2626;
				font-size: 14px;
			}

			.complete:before {
				content: 'Copied!';
				position: absolute;
				top: -45px;
				right: -12px;
				background-color: #17191c;
				padding: 8px 10px;
				border-radius: 20px;
				color: #25a53d;
				font-size: 14px;
			}

			.complete:after,
			.error:after {
				content: '';
				position: absolute;
				top: -20px;
				right: 16px;
				width: 10px;
				height: 10px;
				background-color: #17191c;
				transform: rotate(45deg);
			}
		}

		span {
			color: $text;
		}

		.settings {
			.flex__row {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 30px;
				}

				#input {
					position: relative;
					background: #17191c;
					transition: 0.2s;
					overflow: hidden;
					border-radius: 0.75em;
					width: 3em;
					height: 1.5em;
					-webkit-appearance: none;
					appearance: none;
					-webkit-tap-highlight-color: transparent;
					cursor: pointer;

					&:checked {
						background: $blue;
						transform: scaleX(1);
					}

					&:focus {
						outline: transparent;
					}

					&:before,
					&:after {
						background: hsl(0, 0%, 90%);
						transition: transform var(--dur);
						position: absolute;
						border-radius: 50%;
						content: '';
						display: block;
						top: 0.25em;
						left: 0.25em;
						width: 1em;
						height: 1em;
					}

					&:before {
						transform: translateX(-1.5em);
						transition-timing-function: ease-out;
						transition-delay: 0s;
					}

					&:checked:before {
						transform: translateX(1.5em);
						transition-delay: calc(var(--dur) * 0.75);
						transition-timing-function: cubic-bezier(0.3, 1.6, 0.5, 0.7);
					}

					&:after {
						transition-delay: calc(var(--dur) * 0.75);
						transition-timing-function: cubic-bezier(0.3, 1.6, 0.5, 0.7);
					}

					&:checked:after {
						transform: translateX(3em);
						transition-timing-function: ease-out;
						transition-delay: 0s;
					}
				}

				.sr {
					top: 0;
					left: 0;
					position: absolute;
					overflow: hidden;
					clip: rect(1px, 1px, 1px, 1px);
					color: transparent;
					width: 1px;
					height: 1px;
				}
			}
		}

		.generate {
			display: flex;
			margin: auto;
			padding: 10px;
			user-select: none;

			&:hover {
				background-color: #1a1d20;
			}

			&:active {
				background-color: #1d2024;
			}
		}
	}

	.qrcode__wrap {
		display: flex;
		flex-direction: column;
		gap: 20px;

		.qrcode {
			padding: 20px;
			background-color: #fff;
		}

		p {
			color: $text;
			max-width: 296px;
			line-height: 24px;
			text-align: center;
		}

		input {
			width: 100%;
			height: 50px;
			margin-bottom: 20px;
			background-color: transparent;
			border: 0;
			color: white;
			font-size: 25px;
			letter-spacing: 1px;
			user-select: none;

			&::placeholder {
				text-align: center;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.sub__column {
		gap: 20px !important;
	}
}

@media screen and (max-width: 425px) {
	.password__area {
		input {
			max-width: 300px !important;
		}
	}
}

@media screen and (max-width: 375px) {
	.keypad {
		gap: 4px !important;
	}

}

@media screen and (max-width: 320px) {
	.password__area {
		input {
			max-width: 240px !important;
		}
	}
}
